<form [formGroup]="expenseForm">
  <div class="mb-3">
    <p class="h1 text-success">Expense</p>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input
      [(ngModel)]="expense.amount"
      type="number"
      class="form-control"
      id="amount"
      aria-describedby="amountHelp"
      formControlName="amount"
    />
    <div
      class="text-danger"
      *ngIf="
        (expenseForm.controls['amount'].touched &&
          expenseForm.controls['amount'].invalid) ||
        expenseForm.controls['amount'].dirty
      "
    >
      <span *ngIf="expenseForm.controls['amount'].errors?.['required']"
        >This is Required</span
      >
      <span *ngIf="expenseForm.controls['amount'].errors?.['pattern']"
        >This Is Positive value</span
      >
    </div>
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input
      [(ngModel)]="expense.createDate"
      type="date"
      class="form-control"
      id="date"
      aria-describedby="amountHelp"
      formControlName="createDate"
    />
    <div
      class="text-danger"
      *ngIf="
        (expenseForm.controls['createDate'].touched &&
          expenseForm.controls['createDate'].invalid) ||
        expenseForm.controls['createDate'].dirty
      "
    >
      This is Required
    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="dropdown" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-6">
      <select
        id="dropdown"
        class="form-control"
        [(ngModel)]="expense.category"
        formControlName="category"
      >
        <option *ngFor="let option of options" [value]="option.name">
          {{ option.name }}
        </option>
      </select>
    </div>
    <div
      class="text-danger"
      *ngIf="
        (expenseForm.controls['category'].touched &&
          expenseForm.controls['category'].invalid) ||
        expenseForm.controls['category'].dirty
      "
    >
      This is Rrquired
    </div>
  </div>

  <div class="form-group">
    <label class="form-label">Payment Method</label>
    <div *ngFor="let method of paymentMethods" class="form-check">
      <input
        [(ngModel)]="expense.paymentMethod"
        type="radio"
        name="paymentMethod"
        [value]="method.value"
        class="form-check-input"
        formControlName="paymentMethods"
      />
      <label class="form-check-label">
        {{ method.label }}
      </label>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mb-4">Upload Receipt</h2>

    <img [src]="url" class="img-fluid" alt="Wild Landscape" />
    <div class="form-group">
      <input
        type="file"
        class="form-control-file"
        (change)="onFileSelected($event)"
        formControlName="receipt"
      />
    </div>
    <button class="btn btn-primary mt-3">Upload</button>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="addExpensWithReceipt()"
  >
    Add
  </button>
</form>

<h1>{{ expense.amount }}</h1>
<br />
<h1>{{ expense.createDate }}</h1>
<br />
<h1>{{ expense.category }}</h1>
<br />
<h1>{{ expense.paymentMethod }}</h1>
