<div class="row mt-3">
  <div class="col-sm-6 d-flex flex-column">
    <h1 class="text-center text-success">Transaction</h1>
  </div>
  <div class="col-sm-6 d-flex align-items-center justify-content-evenly">
    <button type="button" class="btn btn-primary">Expense</button>
    <button type="button" class="btn btn-success">Income</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 mt-5">
    <app-expense-form></app-expense-form>
  </div>
  <div class="col-sm-6 ms-5 mt-5">
    <app-income-form></app-income-form>
  </div>
</div>
<div class="row"></div>
